&__text {
    height: 35px;
    // margin-top: 42%;
    margin-left: 11%;
    // background-color: #fff;
    // position: absolute;
    // width: 50rem;
    text-align: center;
    // padding-top: 5px;
    text-decoration: none;
    color: #005488;
    font-weight: 600;
    font-size: 3rem;
}