@mixin base() {
    background-color: #1D4872;
    line-height: 2.4rem;
    height: 21rem;
    margin-top: -12rem;
    padding: 8rem 2rem 1rem 2rem;

    @media all and (min-width: 768px) {
        font-size: 1.8rem;
        height: 15rem;
        margin-top: -13rem;
        padding: 4rem 7rem 1rem 7rem;
    }

    @media all and (min-width: 1200px) {
        height: 13rem;
        max-width: 100%;
        padding-top: 5rem;
    }

}

&__description {
    @include base;
}