@mixin base() {
    margin-top: 3rem;
    padding: 2rem;

    @media all and (min-width: 768px) {
        flex-basis: 33%;
        margin-top: 10rem;
        padding: 0;
    }
}

&__facts {
    @include base;

}