@mixin base() {
    background-color: $ocean;
    padding: 1rem 2rem 1rem 3rem;
    transform: translateY(-2rem);
    width: 85%;

    @media all and (min-width: 768px) {
        margin-left: -5rem;
        text-align: center;
        transform: translateY(-7rem);
        width: 62%;
    }
}

&__heading {
    @include base;

    border-bottom: 5px solid $yellow;
    color: #fff;
    font-size: 3.5rem;
    line-height: 3.5rem;

}

