@mixin base() {
    color: #fff;
    background-image: url('../images/because you diy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;

    @media all and (min-width: 768px) {
        height: 35vh;
        background-position: 20% 75%;
    }
}

&__heading {
    @include base;

}

.yellow {
    color: $yellow;
}