@mixin base() {
    @include containContent();

    bottom: 0;
    color: #fff;
    font-size: 7rem;
    line-height: 1;
    margin: 0;
    padding: 2rem;
    position: absolute;
    width: 100%;
    z-index: 1;

    @media (min-width: 768px) {
        padding: 5rem;
    }

}

&__heading {
    @include base;

    &--small {
        bottom: 0;
        font-size: 5rem;
        color: #fff;
        line-height: 1;
        margin: 0;
        padding: 2rem;
        position: absolute;
        max-width: 85%;
        z-index: 1;

        @media all and (min-width: 768px) {
            font-size: 7rem;
            max-width: 85%;
        }

        @media all and (min-width: 1200px) {
            max-width: 65%;
        }
    }

    .yellow {
        display: block;
        font-size: 6rem;

        @media (min-width: 768px) {
            font-size: 7rem;
        }
    }
}