@mixin base() {
    width: 123vw;
    
    // background: rgba(0, 0, 0, .6);

    @media all and (min-width: 768px) {
        transform: translateY(calc(0px - ((100% - 50vh)/ 2)));
        width: 119vw;
    }

    @media all and (min-width: 1200px) {
        transform: translateY(calc(0px - ((100% - 25vh)/ 2)));
    }
}

&__image {
    @include base;
}