@mixin base() {
    // max-height: 50vh;
    max-height: 100vh;
    height: 30.45vh;
    position: relative;
    background-color: #3a80aa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    @media all and (min-width: 768px) {
        // height: 41.50vh;
        height: 60vh;
    }
}

&__slide {
    @include base;

    &--diy {
        @include base;
        
        background-image: url("https://unumux.github.io/employee-engagement/images/Because-you-DIY_4.jpg");
    }

    &--boat {
        @include base;
        background-image: url("https://unumux.github.io/employee-engagement/images/Because-you-boat_4.jpg");

    }

    &--ski {
        @include base;
        background-image: url("https://unumux.github.io/employee-engagement/images/Because-you-ski_4.jpg");

    }

}