@mixin base() {
    max-height: 50vh;
    height: 30.45vh;
    position: relative;
    background-color: #005488;

    @media all and (min-width: 768px) {
        height: 41.50vh;
    }
}

&__slide {
    @include base;

}