@mixin base() {
    max-height: 50vh;
    height: 37vh;
    position: relative;
    background-color: $ocean;
    // background: rgba(0, 0, 0, .75);


    @media all and (min-width: 768px) {
        height: 41.50vh;
    }
}

&__slide {
    @include base;

}