@mixin base() {
    background-image: url('../images/Because you boat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 45px bottom 25px;
    color: #fff;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
    // width: auto;
    // height: auto;
    // overflow: hidden;
}

.call-to-action {
    @include base;

    @import 'content';
    @import 'descriptor';
    @import 'heading';

}