@mixin base() {
    color: #fff;
    margin: 0 auto;
    position: relative;
}

.call-to-action {
    @include base;
    

    &::after {
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 60%;
        position: absolute;
        background-image: url('../images/Because you boat.jpg');
        background-size: cover;
        background-position: 30%;
        background-repeat: no-repeat;

        @media all and (min-width: 768px) {
            background-position: 50% 20%;
        }

        @media all and (min-width: 1028px) {
            background-position: 50% 40%;
        }
        
    }

    @import 'content';
    @import 'descriptor';
    @import 'heading';

}