@mixin base() {
    background-color: #80868c;
    width: 60%;
    height: auto;
    padding: 2rem;

    @media all and (min-width: 768px) {
        padding: 3rem;
    }
}

&__content {
    @include base;

}