@mixin base() {
    font-size: 2rem;
    text-align: left;
    line-height: 2.4rem;

    @media all and (min-width: 768px) {
        font-size: 1.8rem;
    }
}

&__descriptor {
    @include base;
        
}