@mixin base() {
    font-size: 3rem;
    margin-bottom: 0;
    text-align: left;
    line-height: 4rem;
    // padding-top: 2rem;

    @media all and (min-width: 768px) {
        font-size: 4rem;
    }
}

&__heading {
    @include base;
    
}