@mixin base() {
    // padding: 2rem;
    padding: 0 2rem 2rem 2rem;
    @media all and (min-width: 768px) {
        padding: 5rem;
    }
}

.content {
    @include base;

    h1 {
        color: #005488;
    }

    @import 'container';
    @import 'text';
}