@mixin base() {
    flex: 1 1 0;
    font-size: 2rem;
    padding-left: 1rem;

    @media all and (min-width: 768px) {
        font-size: 1.4rem;
        width: 65%;
    }
}

&__content {
    @include base;

}
