@mixin base() {
    font-size: 2rem;
    margin: 2rem 0 0 2rem;
    text-align: center;

    @media all and (min-width: 768px) {
        font-size: 1.6rem;
        width: 65%;
        // margin-top: 2rem;
        // text-align: center;
        line-height: 2.2rem;
    }
}

&__content {
    @include base;

}
