@mixin base() {
    display: flex;
    margin-bottom: 5rem;
    align-items: center;

    @media all and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 2rem;
    }
}

.fact {
 @include base;

 @import 'content';
}