@mixin base() {
    padding: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;

    @media all and (min-width: 768px) {
        margin-left: 5rem;
        max-width: 80vw;
    }
}

.faqs {
    @include base;

    @import 'heading';
    @import 'question';
    @import 'answer';
    @import 'answer-link';
    @import 'faq';
    @import 'list';
}