@mixin base() {
    color: #005488;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    position: relative;
}

&__question {
    @include base;

    &::before {
        background-color: #005488;
        border-radius: 50%;
        color: #fff;
        content: '-';
        display: inline-block;
        left: -3rem;
        line-height: 24px;
        position: absolute;
        text-align: center;
        top: 0.5rem;
        width: 2rem;

        .faqs__faq[data-collapsed="true"] & {
            background-color: $ocean;
            content: '+';
        }
    }


}
