@mixin base() {
    color: $ocean;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    position: relative;
}

&__question {
    @include base;

    &::before {
        background-image: '<svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" class="minus">

  <rect width="3" height="1" x="0" y="1" fill="#fff" />
</svg>';
        background-color: $yellow;
        border-radius: 50%;
        color: #fff;
        content: '';
        display: inline-block;
        left: -3rem;
        line-height: 24px;
        position: absolute;
        text-align: center;
        top: 0.5rem;
        width: 2rem;

        .faqs__faq[data-collapsed="true"] & {
            background-color: $ocean;
            content: '+';
        }
    }


}
