@mixin base() {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 4rem;
    margin: 0 auto;
    // padding: 5rem;
    quotes: "“" "”" "‘" "’";

    @media all and (min-width: 768px) {
        font-size: 3.6rem;
    }

}

&__content {
    @include base;
    
    position: relative;

    &:before {
        content: open-quote;
        font-size: 10rem;
        position: absolute;
        transform: translate3d(-100%, 0rem, 0);

        @media all and (min-width: 768px) {
            transform: translate3d(-100%, 0, 0);
        }
        
    }

    &:after {
        content: close-quote;
        font-size: 10rem;
        position: absolute;
        transform: translate3d(25%,5rem,0);

        @media all and (min-width: 768px) {
            transform: translate3d(25%, 4rem, 0);

        }
        
    }
}