@mixin base() {
    font-size: 2.6rem;
    font-weight: 600;
    // text-align: center;
    margin: 0 auto;
    padding: 5rem;

}

&__content {
    @include base;

    &:before {
        content: open-quote;
        font-size: 6rem;
    }

    &:after {
        content: close-quote;
        font-size: 6rem;
    }
}