@mixin base() {
    font-size: 2.6rem;
    font-weight: 600;
    margin: 0 auto;
    padding: 5rem;
    quotes: "“" "”" "‘" "’";

    @media all and (min-width: 768px) {
        font-size: 3.1rem;
    }

}

&__content {
    @include base;
    
    position: relative;

    &:before {
        content: open-quote;
        font-size: 10rem;
        position: absolute;
        transform: translate3d(-5rem, -4rem, 0);
        
    }

    &:after {
        content: close-quote;
        font-size: 10rem;
        position: absolute;
        transform: translate3d(1rem, 0rem, 0);
    }
}