@mixin base() {
    @include containElement();

    background-color: #3A80AA;
    border-bottom: 20px solid $yellow;
    color: #fff;
    text-align: center;

}

.testimonial {
    @include base;

    @import 'content';
    @import 'name';
    @import 'descriptor';
    @import 'container';
}