@mixin base() {
    @include containElement();

    background-color: #005488;
    border-bottom: 20px solid #00A1CF;
    color: #fff;
    margin-bottom: 4rem;
    text-align: center;

    @media all and (min-width: 768px) {
        margin-bottom: 7rem;
        margin-top: 7rem;
    }
}

.testimonial {
    @include base;

    @import 'content';
    @import 'name';
    @import 'descriptor';
    @import 'container';
}