@mixin base() {
    background-color: $ocean;
    border-bottom: 20px solid $yellow;
    color: #fff;
    margin-bottom: 4rem;
    text-align: center;

    @media all and (min-width: 768px) {
        margin: 7rem 7rem 7rem 5rem;
    }

    @media all and (min-width: 1200px) {
        margin: 0 auto;
        margin-bottom: 5rem;
        max-width: 60%;
    }
}

.testimonial {
    @include base;

    @import 'content';
    @import 'name';
    @import 'descriptor';
}