html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

body {
    font-family: 'source sans pro', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;

    h1 {
        font-size: 3.4rem;
    }

    p {
        font-size: 1.9rem;
    }
}



