@mixin base() {
    align-items: center;
    background-color: $ocean;
    border-radius: 50%;
    color: #fff;
    display: flex; 
    height: 175px;
    justify-content: center;
    text-align: center; 
    width: 175px;

    @media all and (min-width:768px) {
        height: 100px; 
        width: 100px;
    }
}

.circle {
    @include base;

    @import 'text';
}

.yellow {
    color: $yellow;
}